name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      
      - uses: actions/setup-node@v6
        with:
          node-version: ">=20.19.0"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint (code)
        run: pnpm lint:fix

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
